
/* Button in html*/

.main-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-white-colour);

    border-radius: 4px;
    border: none;
    background-color: var(--accent-colour);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: var(--primary-white-colour);
        background-color: #188ce8;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}







/* Buttons in portfolio.html */
.filter-list {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    margin-bottom: 50px;

    @media screen and (min-width:768px){
        justify-content: center;
    }
}

.filter-list__item {
    margin-top: 0;
    margin-right: 8px;
}

.filter-list__item:last-child {
    margin-right: 0px;
}

.filter-list__btn {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;

    background-color: var(--secondary-bg-colour);
    border-radius: 4px;
    border: 0px;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: var(--primary-white-colour);
        background-color: var(--accent-colour);

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    }

    &--active{
        color: var(--primary-white-colour);
        background-color: var(--accent-colour);
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
