.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--accent-colour);
}

.logo__dark {
    color: #000000;
}

.logo__light {
    color: var(--primary-white-colour);
}