// Modal

.backdrop {
    z-index: 222;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    transition-delay: 0ms;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 320px;
    // height: 581px;
    padding: 30px;

    border-radius: 4px;
    background-color: var(--primary-white-colour);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 480px) {
    padding: 40px;
    width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }

}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }
}




.modal__close-icon {
    fill: currentColor;
}


/* Form */

.modal__title {
display: block;
text-align: center;
margin-bottom: 12px;

font-weight: 700;
font-size: 20px;
line-height: 1.15;


color: var(--title-text-colour);
}

.modal-form {
display: flex;
flex-direction: column;

color: var(--primary-text-colour);

}

.modal-form__label {
position: relative;

display: block;
margin-bottom: 10px;
}

.modal-form__label:last-of-type {
margin-bottom: 20px;
}

.modal-form__title{
    margin-bottom: 4px;
font-size: 12px;
line-height: 1.17px;
letter-spacing: 0.01em;

color: var(--primary-text-colour);
}


.modal-form__input {
width: 100%;
margin-top: 4px;
padding: 11px;
padding-left: 42px;

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

color: #212121;

outline: transparent;

    &:focus{
    border-color: var(--accent-colour);

        & + .modal-form__icon{
            fill: var(--accent-colour);
    }
}

}

.modal-form__icon {
position: absolute;
bottom: 11px;
left: 12px;
}


.modal-form__coment {
width: 100%;
height: 120px;
resize: none;

padding: 12px 16px;
margin-top: 4px;

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

outline: transparent;

&:focus{
    border-color: var(--accent-colour);
    }

}


.modal-form__coment::placeholder {
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.modal-form__agreement {
display: flex;
align-items: center;
justify-content: center;

margin-bottom: 30px;
}

.modal-form__agreement-label {
display: flex;
align-items: center;
justify-content: center;
}

.modal-form__agreement-checkbox {
display: flex;
align-items: center;
justify-content: center;

margin-right: 7px;

width: 16px;
height: 15px;

outline: 2px solid var(--title-text-colour);
outline-offset: -2px;
border-radius: 2px;

    &:focus{
    outline-color: var(--accent-colour);
    background-color: var(--primary-white-colour);
    }
}


.modal-form__checkbox:checked + .modal-form__agreement-checkbox {
outline-color: var(--accent-colour);
background-color: var(--accent-colour);
}


.modal-form__agreement-txt {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.03em;

color: var(--primary-text-colour);

@media screen and(min-width:1200px){
    font-size: 14px;
    line-height: 1.71;
}
}

.modal-form__agreement-link {
color: var(--accent-colour);
}

.modal-btn {
    display: block;
}