
/* Grid */


.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set__item {
    flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
    margin: calc(var(--indent) / 2);
}