
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Section names */

.section-title {
    margin: 0;
    margin-bottom: 50px;
    
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--title-text-colour);
}