:root {

    /* card-set*/
    --items: 1; 
    --indent: 30px; 

    // Fonts
    --font: 'Roboto', sans-serif;
    --font-logo: 'Raleway';

    // Colours
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --accent-colour: #2196f3;
    --primary-white-colour: #ffffff;
    --secondary-bg-colour: #f5f4fa; 
  
  }