.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer__container {
    display: flex;
    align-items: baseline;

    letter-spacing: normal;
}

.footer__address {
    margin-top: 20px;
}

.footer-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-list__address {
    font-style: normal;
    text-decoration: none;
    margin-bottom: 9px;

    color: var(--primary-white-colour);
}

.footer-list__contact {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;

    line-height: 1.14;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }
}



.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin-left: 70px;
}

.footer-social__attention {
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-colour);
}


/* Socials icons in footer */
.socials__link--dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    color: var(--primary-white-colour);
    background-color: rgba(255, 255, 255, 0.1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: var(--accent-colour);
    }
}



/* Form in footer */

.subscribe {
width: 570px;
height: 86px;
margin-left: 93px;
}

.subscribe__form {
display: flex;
align-items: center;
justify-content: center;

margin-top: 20px;
}

.subscribe__email {
padding: 15px 16px;
width: 358px;
height: 50px;

color: var(--primary-white-colour);
background-color: #2f303a;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;

    &:focus{
        border-color: var(--accent-colour);
    }
}



.subscribe__email::placeholder {
font-weight: 400;
font-size: 16px;
line-height: 1.25;

color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
display: inline-flex;
align-items: center;
justify-content: center;

margin-left: 12px;
}

.subscribe__icon {
margin-left: 10px;
}
