.header {
    border-bottom: 1px solid #eeeeee;

    @media screen and(max-width:767px){
        padding-top: 16px;
        padding-bottom: 16px;

    }
}

.header__container {
    display: flex;
    align-items: center;
    
    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    
    @media screen and (min-width:767.98px) {
        margin-right: 88px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 93px;
    }
}

/* Navigation */

.site-nav {

display: none;

    @media screen and (min-width:767.98px) {
    display: flex;
    
}
}

.site-nav__item:not(:last-child) {
margin-right: 50px;
}

.site-nav__link {
    display: block;
padding-top: 32px;
padding-bottom: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;

color: var(--title-text-colour);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }

        &--current{
            color: var(--accent-colour);
        }
}



/* Blue strip for header */

.site-nav__link--current {
position: relative;

    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--accent-colour);

        position: absolute;
        bottom: -1px;
        left: 0;


        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        transform: scaleX(1);
        }

}



/* Contacts in header */

.contacts-nav {
    display: none;
    
    @media screen and (min-width:767.98px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    @media screen and (min-width:1200px){
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}


.contacts-nav__link {
align-items: center;
text-decoration: none;

font-weight: 500;
font-size: 12px;
line-height: 1.14;
text-decoration: none;

color: var(--primary-text-colour);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }


    @media screen and (min-width:1200px){
    display: flex;
    font-size: 14px;
    margin-right: 30px;

    }
}




.contacts-nav__icon{
    margin-right: 8px;
    fill: currentColor;

    @media screen and (min-width:1200px){
        margin-right: 10px;
        align-items: center;
    }
}