.header {
    border-bottom: 1px solid #eeeeee;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
}

/* Navigation */

.site-nav {
display: flex;
}

.site-nav__item:not(:last-child) {
margin-right: 50px;
}

.site-nav__link {
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;

color: var(--title-text-colour);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }

        &--current{
            color: var(--accent-colour);
        }
}



/* Blue strip for header */

.site-nav__link--current {
position: relative;

    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--accent-colour);

        position: absolute;
        bottom: -1px;
        left: 0;


        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        transform: scaleX(1);
        }

}

// .site-nav__link--current::after {
// transform: scaleX(1);
// }


/* Contacts in header */

.contacts-nav {
display: flex;
justify-content: space-between;
margin-left: auto;
}

.contacts-nav__item:not(:last-child) {
margin-right: 50px;
}

.contacts-nav__link {
display: flex;
align-items: center;

text-decoration: none;
padding-top: 32px;
padding-bottom: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;

color: var(--primary-text-colour);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-colour);
    }

}

.contacts-nav__icon {
margin-right: 10px;
fill: currentColor;
}