.hero {
    margin: 0 auto;
    padding: 118px 0px;

    max-width: 1600px;

    text-align: center;

    
    // @media screen and(min-width: 768px){
    //     width: 768px;
    //     height: 400px;
    // }

    @media screen and(min-width: 1200px){
        padding: 200px 0;
    }

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.png);

    background-position: center;
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero__title {
    max-width: 360px;
    margin: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-colour);



    @media screen and(min-width: 1200px){
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36
    }
}