.hero {
    margin: 0 auto;
    padding: 200px 0;

    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.png);

    background-color: #2f303a;
    background-repeat: no-repeat;
    max-width: 1600px;
}

.hero__title {
    max-width: 696px;
    margin: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-colour);
}