.potfolio {
    display: flex;
}

/* Portfolio cards */

.portfolio-list {
    
    @media screen and (min-width: 768px) {
        --items: 2;
    }

    @media screen and(min-width: 1200px) {
        --items: 3;
    }
}

.portfolio-list__item {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

        & .portfolio-list__overlay{ 
            transform: translateY(0);
            opacity: 1; }
    }
}

  /* Overlay style */

.portfolio-list__wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list__img{
    width: 100%;
}

.portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 77px 24px;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.5;

    transform: translateY(100%);
    opacity: 0;
    
    color: var(--primary-white-colour);
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


@media screen and(min-width:320px) and (max-width:371.99px){
    padding-top: 60px;
    font-size: 14px;
}


    @media screen and(min-width:767.98px){
        padding-top: 49px;
        padding-left: 24px;
        padding-bottom: 77px;
        padding-right: 24px;
    }

    @media screen and(min-width:1199px){
        padding: 63px 24px;
    }


}


.portfolio-list__about {
    flex-grow: 1;
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.portfolio-list__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-colour);
}

.portfolio-list__desc {
    font-size: 16px;
    line-height: 1.8;
}